/*
 * Styling for fcc-tribute
 *
 * Author: Peter Martinson
*/

html {
  font-size: 10px;
  font-family: 'Lora',serif;
  color: black;
  background: #ffffff;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 2rem;
  /* remove the page border */
  margin: 0;
}

main {
  border: 1px solid black;
  padding: 10px;
}

/*
 * The first section is always the title splash
*/
main > section {
  text-align: center;
}

main h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-bottom: 0px;
}

main h2 {
  font-weight: normal;
}

section {
  font-family: 'Raleway',serif;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px black;
}

figure {
  width: 450px;
  float: right;
}

footer {
  font-family: sans-serif;
  background: black;
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  float: left;
}

footer span {
  display: inline-block;
}

footer .copyright {
  width: 32%;
  text-align: left;
  padding-left: 1%;
}

footer .github {
  width: 33%;
  text-align: center;
}

footer .license {
  width: 32%;
  text-align: right;
  padding-right: 1%;
}
