header {
  display: block;
  width:           100%;
  height:          64px;
  background:      black;
  margin:          0px;
  padding-top:     32px;
  padding-bottom:  32px;
}

header hr {
  width: 256px;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0.75));
}

header a:hover {
  color: orange;
  text-decoration: underline;
}

header a {
  color: white;
  text-decoration: none;
}

header #icon {
  display:     block;
  background:  url(./st_icon_bw_64.png) no-repeat;
  width:       64px;
  height:      64px;
  margin:      auto;
  padding:     0px;
}

header #name {
  display: none;
}

header #subtitle {
  display: none;
}

header #menu {
  display: none;
}

header #social {
  display: none;
}

@media all and (min-width: 720px) {

  header {
    display:         inline-block;
    position:        fixed;
    width:           300px;
    height:          100%;
    background:      black;
    margin-top:      0px;
    margin-bottom:   0px;
    margin-left:     0px;
    margin-right:    10px;
    padding:         32px;
  }

  header #icon {
    display:     block;
    background:  url(./st_icon_bw_128.png) no-repeat;
    width:       128px;
    height:      128px;
    margin:      auto;
    padding:     0px;
  }

  header #name {
    display: block;
    color:   #ffffff;
    text-align: center;
  }

  header #subtitle {
    display: block;
    color:   #ffffff;
    text-align: center;
  }

  header #menu {
    display: block;
    color:   #ffffff;
    text-align: center;
    margin-top: 32px;
  }

  header #social {
    display: block;
    color:   #ffffff;
  }

}

















