header {
  display:         block;
  width:           100%;
  height:          64px;
  background:      #061539;
  color:           #7887ab;
  margin:          0px;
  padding-top:     32px;
  padding-bottom:  32px;
}

header hr {
  width:          256px;
  height:         1px;
  border:         0;
  background:     #4f628e;
  margin-top:     16px;
  margin-bottom:  16px;
}

header a:hover {
  color:           #d4b16a;
  text-decoration: none;
}

header a {
  color:           inherit;
  text-decoration: none;
}

header #icon-container {
  display:     block;
  width:       64px;
  height:      64px;
  margin:      auto;
  padding:     0px;
}
  
header #icon {
  background:  url(../assets/st_icon_bb_64.png) no-repeat;
  width:       64px;
  height:      64px;
  margin:      0px;
  padding:     0px;
}

/* header #icon { */
/*   display:     block; */
/*   background:  url(../assets/st_icon_bb_64.png) no-repeat; */
/*   width:       64px; */
/*   height:      64px; */
/*   margin:      auto; */
/*   padding:     0px; */
/* } */

header #name, #subtitle, #menu {
  display: none;
}

/**
 * desktop media query
*/
@media all and (min-width: 720px) {

  header {
    display:        inline-block;
    position:       fixed;
    width:          256px;
    height:         100%;
    margin-top:     0px;
    margin-bottom:  0px;
    margin-left:    0px;
    padding:        32px;
    text-align:     center;
  }

  header #icon-container {
    display:        inherit;
    width:          128px;
    height:         128px;
    margin:         auto;
    margin-top:     32px;
    margin-bottom:  32px;
    padding:        0px;
  }
    
  header #icon {
    background:  url(../assets/st_icon_bb_128.png) no-repeat;
    width:       128px;
    height:      128px;
    margin:      0px;
    padding:     0px;
  }

  /* header #icon { */
  /*   display:        inherit; */
  /*   background:     url(../assets/st_icon_bb_128.png) no-repeat; */
  /*   width:          128px; */
  /*   height:         128px; */
  /*   margin:         auto; */
  /*   margin-top:     32px; */
  /*   margin-bottom:  32px; */
  /*   padding:        0px; */
  /* } */

  header #name, #subtitle {
    display: inherit;
  }

  header #menu {
    display: inherit;
    margin-top: 32px;
  }

}

















