  /* background:      #061539; */
  /* color:           #7887ab; */
  /* color:           #d4b16a; */
nav {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

nav ul {
  list-style-type: none;
  background: #7887ab;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-top: 2px solid #061539;
}

nav ul li {
  display: inline-block;
  width: 25%;
  height:100%;
}

nav li > div {
  border: 1px solid black;
  padding: 22px;
}

nav a {
  text-decoration: none;
  color: #061539;
}

nav i {
  padding-bottom: 8px;
}

nav a:hover {
  text-decoration: none;
  color: #d4b16a;
}




/* nav div { */
/* } */

/* nav .nav-box { */
/*   padding:     24px 16px 24px 16px; */
/*   width:       100px; */
/*   border:      0px solid black; */
/*   background:  #7887ab; */
/*   color:       #061539; */
/*   text-align:  center; */
/* } */

/* nav a { */
/*   color: #061539; */
/*   text-decoration: none; */
/* } */

/* nav a:hover { */
/*   color: #7887ab; */
/*   text-decoration: none; */
/* } */

/* nav .nav-icon { */
/*   margin-bottom: 9px; */
/*   display: block; */
/* } */

/* nav .nav-title { */
/*   display: block; */
/* } */

/* nav ul { */
/*   list-style: none; */
/* } */

/* nav li { */
/*   display: inline; */
/*   text-align: center; */
/*   float: left; */
/* } */
